<div style="height: 60px"></div>
<div class="pull-right" style="margin-right: 100px;" ng-controller="QuizResultsCtrl">
  <a href style="font-size: 50px;"
     uib-tooltip="Прочесть про типы личности"
     ng-click="openHints()"
  >
    <i class="fa fa-info-circle"></i>
  </a>
</div>
<div class="container" ng-controller="QuizResultsCtrl">
  <div class="col-md-12" ng-init="setUsers(<%= @users.map(&:in_json).to_json %>)">
    <h2>Сотрудники</h2>
    <div class="row">
      <div class="col-md-12 search-fields">
        <ui-select ng-model="search.region"
                   style="width: 200px;"
                   search-enabled="false"
                   title="Регион">
          <ui-select-match placeholder="Регион">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="region in regions track by $index">
            <div ng-bind-html="region"></div>
          </ui-select-choices>
        </ui-select>

        <ui-select ng-model="search.department"
                   style="width: 200px;"
                   search-enabled="false"
                   title="Отдел">
          <ui-select-match placeholder="Отдел">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="department in departments track by $index">
            <div ng-bind-html="department"></div>
          </ui-select-choices>
        </ui-select>

        <ui-select ng-model="search.job_title"
                   style="width: 200px;"
                   search-enabled="false"
                   title="Должность">
          <ui-select-match placeholder="Должность">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="job_title in job_titles track by $index">
            <div ng-bind-html="job_title"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td>Имя</td>
        <td>Регион</td>
        <td>Отдел</td>
        <td>Должность</td>
        <td>Результаты Теста</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users | filter:search">
        <td>{{user.name}}</td>
        <td>{{user.region}}</td>
        <td>{{user.department}}</td>
        <td>{{user.job_title}}</td>
        <td>
            <span ng-if="user.quiz_request && !user.quiz_result">
              Запрос отправлен
            </span>
            <span ng-if="!user.quiz_result && !user.quiz_request">
              <a href ng-click="requestResult(user)">
                Отправить Тест
              </a>
            </span>
          <span ng-if="user.quiz_result">
            <span ng-bind="user.quiz_result.personality_type"></span>
            <a href
               uib-tooltip="Подробности"
               ng-click="explainResult(user.quiz_result)"
            >
              <i class="fa fa-info-circle"></i>
            </a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>