<div style="height: 60px"></div>
<div class="pull-right" style="margin-right: 100px;" ng-controller="QuizResultsCtrl">
  <a href style="font-size: 50px;"
     uib-tooltip="Прочесть про типы личности"
     ng-click="openHints()"
  >
    <i class="fa fa-info-circle"></i>
  </a>
</div>
<div class="container" ng-controller="QuizResultsCtrl">
  <div class="col-md-12" ng-init="setUsers(<%= @users.map(&:in_json).to_json %>)">
    <h2>Сотрудники</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td>Имя</td>
        <td>Регион</td>
        <td>Отдел</td>
        <td>Должность</td>
        <td>Результаты Теста</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users | filter:search">
        <td>{{user.name}}</td>
        <td>{{user.region}}</td>
        <td>{{user.department}}</td>
        <td>{{user.job_title}}</td>
        <td>
            <span ng-if="user.quiz_request && !user.quiz_result">
              Запрос отправлен
            </span>
            <span ng-if="!user.quiz_result && !user.quiz_request">
              <a href ng-click="requestResult(user)">
                Отправить Тест
              </a>
            </span>
          <span ng-if="user.quiz_result">
            <span ng-bind="user.quiz_result.personality_type"></span>
            <a href
               uib-tooltip="Подробности"
               ng-click="explainResult(user.quiz_result)"
            >
              <i class="fa fa-info-circle"></i>
            </a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>