<div class="container new-quiz" ng-controller="NewQuizCtrl">
  <div class="jumbotron">
    <span ng-init="setUserId(<%= @user.id %>)"></span>
    <h1 ng-click="showFakeResult = true">Добрый день, <%= @user.name %></h1>
    <p>
      Предлагаем вашему вниманию тест для определения сильных и слабых сторон вашей личности. После прохождения теста вы узнатее о себе, а ваше руководство может использовать лучшие ваши качества в работе.
    </p>
    <a href class="btn btn-primary btn-lg" ng-show="showStart" ng-click="startTest()">
      Начать Тест
    </a>
  </div>

  <div class="row" ng-show="showTest">
    <div class="col-md-12">
      <iframe
        ng-hide="showFakeResult"
        src="https://www.16personalities.com/ru/test-lichnosti"
        style="width: 800px; height: 600px"
      ></iframe>
      <img src="/fake_result.png" ng-show="showFakeResult">
    </div>
  </div>
  <div class="row" ng-show="showSubmit">
    <div class="col-md-12 input-type-wrapper">
      <ui-select ng-model="res.personality_type"
                 style="width: 200px;"
                 search-enabled="false"
                 title="Результат">
        <ui-select-match placeholder="Введите результат">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in personality_types track by $index">
          <div ng-bind-html="type"></div>
        </ui-select-choices>
      </ui-select>

      <a href class="btn btn-primary"
         ng-click="submitResult()" ng-disabled="!res.personality_type">Отправить</a>
    </div>
  </div>

  <div class="row" ng-show="showSuccess">
    <div class="col-md-12">
      <h1>Спасибо, с вами свяжутся!</h1>
    </div>
  </div>



</div> <!-- /container -->